<!DOCTYPE html>
<html>
<head>
    <title>Продукт</title>
</head>
<body>

<h2>{{ product_details.name }}</h2>
<p><strong>Ціна:</strong> {{ product_details.price }}</p>
<p><strong>Короткий опис:</strong> {{ product_details.short_description }}</p>
<p><strong>Бренд:</strong> {{ product_details.brand }}</p>
<p><strong>Категорія:</strong> {{ product_details.category }}</p>
<p><strong>Лінк на продукт:</strong> <a href="{{ product_details.link_to_product }}">{{ product_details.link_to_product }}</a></p>
<p><strong>Дата оновлення:</strong> {{ product_details.update_date|date:"d.m.Y H:i" }}</p>

<br><br>
<p><a href="{% url 'products:product_input' %}">Додати продукти в каталог</a></p>
<p><a href="{% url 'products:products_list' %}">Каталог продуктів</a></p>
<p><a href="{% url 'cart:products_in_cart_list' %}">Перейти в корзину</a></p>

</body>
</html>
